.container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  margin-bottom: 2%;
}

.i1 {
  flex: 0 100%;
}

.i4 {
  flex: 0 100%;

}

.i3 {
  flex: 0 100%;
}

@media screen and (min-width: 900px) {
  .i4 {
    flex: 0 25%;
  }
  .i3 {
    flex: 0 33%;
  }
}




