.card {
  display: flex;
  flex-direction: column;

}

.content {
  padding: 2rem 2rem 0 2rem;
}

.footer {
  padding: 1rem
}

.fav_buttons {
  display: flex;
  justify-content: center;
}

.fav_buttons {
  width: 100%;
}

.vote_buttons {
  display: flex;
  justify-content: center;
}

.vote_buttons svg{
  height: 16px;
  width: 35px;
  cursor: pointer;
}

.vote_info {
  text-align: center;
}

@media screen and (min-width: 900px) {
  .content {
    height: 250px;
  }
}
